.StoryIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  background-color: #C0C0C0;
  color: #000000;
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #808080;
  flex: 1 1 15%;
}

.StoryIcon-text {
  margin: 10px 0 0;
}